.App {
    position: relative;
}

.App .btn-cont {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--main-color);
    color: var(--secondary-color);
    width: 50px;
    height: 50px;
    left: 10px;
    bottom: 10px;
    border-radius: 50%;
    z-index: 999;
    transition-duration: 0.2s;
}

.App .btn-cont:hover {
    background-color: #222;
}

.App .contact-btn2 {
    bottom: 70px;
}

.App .btn-cont i {
    font-size: 25px;
}

.nav-bar {
    width: 100%;
    height: 100vh;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 2000;
    background-color: var(--secondary-color);
    animation: display-nav 0.3s forwards;
    overflow: hidden;
}

/* حركة الفتح */
@keyframes display-nav {
    0% {
        width: 0;
    }
    100% {
        width: 100%;
    }
}

.nav-bar.closing {
    animation: close-nav 0.3s forwards;
}

/* حركة الإغلاق */
@keyframes close-nav {
    0% {
        width: 100%;
    }
    100% {
        width: 0;
    }
}

.nav-bar .close {
    position: absolute;
    font-size: 40px;
    color: var(--main-color);
    cursor: pointer;
}

.nav-bar .quick-linkss {
    text-align: center;
    width: 100%;
    height: 100vh;
}

.nav-bar .quick-linkss a {
    display: block;
    color: var(--main-color);
    padding: 20px 0;
    transition-duration: 0.1s;
}

.nav-bar .quick-linkss a:hover {
    background-color: var(--main-color);
    color: var(--secondary-color);
}